
/* Estilo para el encabezado h1*/
h1 {
    font-family: Georgia, serif;
    color: #4E3B31;
}

/* centramos los textos */
h1, p {
    text-align: center;
}

/* alineamos el h2 a la izquierda */
h2 {
    text-align: left;
}


/* colores para las filas */

/* filas impares */
.property-table tr.impares {
    background-color: #f2a900e1;
}

/* filas pares */
.property-table tr.pares {
    background-color: #a95c2b;
}

