/* reset css que elimina el margen y el padding */
* {
    margin: 0;
    padding: 0;
}

/* Estilo para el body */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f0e1;
}

/* Estilo para el encabezado h1*/
h1 {
    text-align: center;
    font-family: Georgia, serif;
    color: #4E3B31;
}

/* Estilo para la clase property-table*/
.property-table {
    text-align: justify;
    margin: 0 auto;
    width: auto;
    border-collapse: collapse;
}

/* Estilo para las imágenes */
.property-table img {
    max-width: 150px;
    height: auto;
}

/* Estilo para encabezados y datos td */
.property-table th,
.property-table td {
    padding: 5px;
    border: 1px solid #cccccc;
}

/* Estilo para los encabezados th */
.property-table th {
    background-color:  #d7af4a;
    color: white;
}

/* colores para las provincias */

/* A Coruña */
.property-table tr.Coruña {
    background-color: #f2a900;
}

/* Lugo */
.property-table tr.Lugo {
    background-color: #a95c2b;
}

/* Ourense */
.property-table tr.Ourense {
    background-color: #e4b241;
}

/* Pontevedra */
.property-table tr.Pontevedra {
    background-color: #c97b34;
}

/* hover sobre toda la fila excepto las celdas con imágenes */
.property-table tr:hover td:not([rowspan]) {
    background-color: white;
}

/* la celda con imagen (rowspan) no cambia de color */
.property-table td[rowspan] {
    background-color: inherit; /* mantiene el color original */
}

/* centramos el footer */
footer {
    text-align: center;
}